<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Philiving.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>A57E73C8430AE11B055B4A47252DF021127E7D87</string>
				<key>dateExpires</key>
				<string>03/12/2019</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A57E73C8430AE11B055B4A47252DF021127E7D87</string>
						<key>dateExpires</key>
						<string>03/12/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L5UD7X63W2</string>
						<key>name</key>
						<string>Yuze Shi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A57E73C8430AE11B055B4A47252DF021127E7D87</string>
						<key>dateExpires</key>
						<string>03/12/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>KeychainSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L5UD7X63W2</string>
						<key>name</key>
						<string>Yuze Shi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A57E73C8430AE11B055B4A47252DF021127E7D87</string>
						<key>dateExpires</key>
						<string>03/12/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L5UD7X63W2</string>
						<key>name</key>
						<string>Yuze Shi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A57E73C8430AE11B055B4A47252DF021127E7D87</string>
						<key>dateExpires</key>
						<string>03/12/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>LLCycleScrollView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L5UD7X63W2</string>
						<key>name</key>
						<string>Yuze Shi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A57E73C8430AE11B055B4A47252DF021127E7D87</string>
						<key>dateExpires</key>
						<string>03/12/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Spring.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L5UD7X63W2</string>
						<key>name</key>
						<string>Yuze Shi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A57E73C8430AE11B055B4A47252DF021127E7D87</string>
						<key>dateExpires</key>
						<string>03/12/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SwiftPullToRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L5UD7X63W2</string>
						<key>name</key>
						<string>Yuze Shi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A57E73C8430AE11B055B4A47252DF021127E7D87</string>
						<key>dateExpires</key>
						<string>03/12/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SwifterSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L5UD7X63W2</string>
						<key>name</key>
						<string>Yuze Shi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A57E73C8430AE11B055B4A47252DF021127E7D87</string>
						<key>dateExpires</key>
						<string>03/12/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Toast_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L5UD7X63W2</string>
						<key>name</key>
						<string>Yuze Shi</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>L5UD7X63W2.Mac.Philiving</string>
				<key>com.apple.developer.team-identifier</key>
				<string>L5UD7X63W2</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>L5UD7X63W2.Mac.Philiving</string>
				</array>
			</dict>
			<key>name</key>
			<string>Philiving.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c855dd18-be5c-4296-ad0e-387e519d23a9</string>
				<key>name</key>
				<string>Philiving1</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>L5UD7X63W2</string>
				<key>name</key>
				<string>Yuze Shi</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
